[defaults]
inventory         = inventory/cml/cml.yml
roles_path        = ./roles
forks             = 20
host_key_checking = False
display_skipped_hosts = False

[persistent_connection]
connect_timeout          = 30
command_timeout          = 30
connect_retry_timeout    = 15
